.features {
  padding: 80px 0;
  display: grid;
  grid-gap: var(--ifm-global-spacing);
  grid-template-columns: repeat(3, minmax(18rem, 1fr));
}

.featuresItem {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--ifm-color-primary-lightest);
  border-radius: var(--ifm-card-border-radius);
  background-color: var(--ifm-card-background-color);
  padding: var(--ifm-global-spacing);
}

.featuresItem:hover {
  border-color: var(--ifm-color-primary);
}

.featuresItem__link {
  font-weight: 500;
  margin-top: auto;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
